#middleContent{
  position: absolute;
  margin-left: 200px;
  margin-right: 200px;
}

#leftMenu{
  position: absolute;
}

#rightMenu{
  right: 0;
  position: absolute;
}

#sqlQuery{
  margin-bottom: 50px;
}

 .node circle {
   fill: #fff;
   stroke: steelblue;
   stroke-width: 3px;
 }

 .node text { font: 12px sans-serif; }

 .link {
   fill: none;
   stroke: #ccc;
   stroke-width: 2px;
 }